.tela {
    display: none;
}
.ativa{
    display: block;
}
.card-part{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: start;
}

.card-negado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}