.tela {
    display: none;
}
.ativa{
    display: block;
}
.card-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: 10px;
}

.card-negado{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin: 10px;
}

#painel-participantes{
    display: flex;
    margin: 10px;
}