* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --fundo: #0C7B93;
    --card: #27496D;
    --button: #142850;
    --texto: #00A8CC;
}


.tela {
    display: none !important;
}

.ativa {
    display: block !important;
}


body {
    background-color: var(--fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


header {
    display: flex;
    align-items: center;
    gap: 20px;

    width: 100%;
    background-color: var(--card);
    color: aliceblue;
    font-size: 15px;
    font-family: "Mochiy Pop One", sans-serif;
}

header img {
    width: 5%;
}


button:hover {
    scale: 1.05;
    opacity: 0.5;
    cursor: pointer;
}

.layoutBotao {
    border: none;
    background: none;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.layoutBotao img {
    width: 150px;
}

#botaoConfig {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
    padding: 30px;
    gap: 20px;

    background-color: var(--card);
    border-radius: 20px;
    box-shadow: 0 0 12px #29f8e7;

    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: var(--texto);
}

.container-inputs input,
.container-inputs select {
    padding: 5px;

    background-color: var(--button);
    border: none;
    border-radius: 10px;
    outline: none;

    color: var(--texto);
}


.container-button,
.bg,
#telaInicial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-button {
    color: var(--texto);
    font-family: Georgia, 'Times New Roman', Times, serif;
   

}

.container-button p,
#container-inscri p {
    padding: 3px;

    border-style: solid;
    border-radius: 10px;

    color: var(--texto);
}


.container-buttonN {
    color: #da3939;
    font-family: Georgia, 'Times New Roman', Times, serif;

}


.card-part{
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    padding: 20px;
    width: 180px;
    min-height: 180px;
    font-size: 14px;

    background-color: var(--card);
    box-shadow: 0 0 12px #29f8e7;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.card-part p,
.card-negado p{
    align-self: flex-start;
}

.card-negado {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 20px;
    padding: 20px;
    width: 180px;
    min-height: 180px;
    font-size: 14px;


    background-color: #831a13;
    box-shadow: 0 0 15px #ff6464;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.bg {
    padding: 20px;

    background-color: var(--button);
    border-radius: 20px;
    box-shadow: 0 0 12px #29f8e7;
}

#tituloLista{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Mochiy Pop One", sans-serif;
    color: aliceblue;

}

#container-paineis{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    padding: 20px;
    gap: 500px;
}

#painel-participantes-aceitos,
#painel-participantes-negados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.container-acesso{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;

}

#container-final {
    margin-top: 40px;
    gap: 20px;
}

#telaInicial {
    text-align: center;
}

#paragrafoInicial {
    width: 45%;
    margin-top: 60px;
}


#container-inscri p {
    margin-top: 20px;
}